.bg {
  background-color: #1C1E24;
  min-height: 100vh;
  color: #fff;
  // padding: 0 1rem;
}

.notFound {
  font-weight: 900;
  font-size: 96px;
  line-height: 94%;
  text-transform: uppercase;
}

@include customMedia(576px) {
  .notFound {
    font-size: 180px; 
  }
}

@include customMedia(992px) {
  .notFound {
    font-size: 200px; 
  }
}
