{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "arrowParens": "always",
  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/context/(.*)$",
    "^@/components/(.*)$",
    "^@/layout/(.*)$",
    "^@/ui/(.*)$",
    "^@/pages/(.*)$",
    "^@/providers/(.*)$",
    "^@/interfaces/(.*)$",
    "^@/hooks/(.*)$",
    "^@/helpers/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "^(.scss)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
