.title {
  @apply h2;
}
.list {
  @apply grid gap-2;
}
.allLocations {
  @apply justify-self-center;
}

@include customMedia(768px) {
  .container {
    @apply grid-cols-12;
  }
  .title {
    @apply col-span-7;
  }
  .allLocations {
    @apply col-span-4 row-start-1 col-start-9 justify-self-end pr-6;
  }
  .list {
    @apply col-span-full grid grid-cols-2;
  }
}

@include customMedia(992px) {
  .list {
    @apply grid-cols-4 gap-8;
  }
}
