.header {
  @apply sticky top-0 z-30 transition-all h-20 py-2.5;
  .headerMobileBg {
    @apply fixed top-0 left-0 right-0 bg-blue-300 h-0 opacity-0 transition-all scale-y-0 origin-top;
    // тут фон для відкритого меню мобайла
  }
  &.dark {
    @apply bg-blue-400 text-white-400;
    .hamburgerWrap {
      span {
        @apply bg-white-400;
      }
    }
  }
  &.white {
    @apply bg-white-500 text-dark-400;
    .hamburgerWrap {
      span {
        @apply bg-dark-400;
      }
    }
  }
  &.active {
    .headerMobileBg {
      @apply h-dvh opacity-100 scale-y-100;
    }
    .menuMobile {
      @apply h-[calc(100dvh-5rem)] opacity-100 scale-y-100 visible;
    }
    .hamburgerWrap span {
      @apply bg-white-400;
      &:nth-child(1),
      &:nth-child(6) {
        @apply rotate-45;
      }
      &:nth-child(2),
      &:nth-child(5) {
        @apply -rotate-45;
      }
      &:nth-child(1) {
        top: 15px;
      }
      &:nth-child(2) {
        top: 15px;
      }
      &:nth-child(3) {
        opacity: 0;
        left: 100%;
      }
      &:nth-child(4) {
        opacity: 0;
        right: 100%;
      }
      &:nth-child(5) {
        @apply opacity-100;
        top: 22px;
      }
      &:nth-child(6) {
        top: 22px;
      }
    }
  }
}
.wrap {
  @apply relative z-10 grid items-center justify-between h-full;
}
.hamburgerWrap {
  @apply grid w-10 h-10 p-3 cursor-pointer relative col-start-2 col-end-3;
  span {
    @apply h-0.5 absolute w-2.5 transition-all rounded-full;
    &:nth-child(even) {
      border-radius: 0 4px 4px 0;
      @apply right-3;
    }
    &:nth-child(odd) {
      border-radius: 4px 0 0 4px;
      @apply left-3;
    }
    &:nth-child(1),
    &:nth-child(2) {
      @apply top-3;
    }
    &:nth-child(3),
    &:nth-child(4) {
      top: 18.5px;
    }
    &:nth-child(5) {
      @apply opacity-0;
    }
    &:nth-child(5),
    &:nth-child(6) {
      top: 25px;
      border-radius: 4px;
    }
  }
}
.menuMobile {
  @apply fixed h-[calc(100dvh-5rem)] top-20 left-4 right-4 opacity-0 transition-all invisible scale-y-0 origin-top grid content-between;
}

@include customMedia(992px) {
  .header {
    @apply h-auto;
    .headerMobileBg {
      @apply hidden;
    }
  }
  .logo {
    @apply w-auto;
  }
  .menuMobile {
    @apply contents visible;
  }
  .hamburgerWrap {
    @apply hidden;
  }
  .menuDesktop {
    @apply flex flex-row-reverse items-center col-start-2 col-end-3;
  }
}

@include customMedia(1322px) {
  .menuDesktop {
    @apply gap-20;
  }
}
