.title {
  @apply h2;
}
.cover { 
  min-height: 240px;
  width: 100vw;
  object-fit: cover;
}

@include customMedia(768px) {
  .title {
    @apply col-span-12;
  }
}

// @include customMedia(992px) {
//   .cover { 
//     min-height: 600px;
//   }
// }

@include customMedia(1322px) {
  .title span {
    font-size: 90px;
  }

  // .cover { 
  //   min-height: 713px;
  // 
}